* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e0f7fa;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-logo {
    margin: 0;
    padding: 0;
}

.contenedor {
    display: inline-block;
}

.cuadro {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    background-color: black;
    position: absolute;
    top: 33%;
    left: 58%;
    transform: translate(-50%, -50%); /* Centra el cuadro exactamente en el medio */
}


.headerCuadro{
    width: 50px;
    height: 50px;
    background-color: #37505D;
    position: absolute;
    margin-top: 1250px;

}

.circle{
    position: absolute;
    margin-top: 1230px;
    margin-left: 120px;
}

.icon-codigo {
    stroke-dasharray: 50; /* Ajusta el tamaño del trazo */
    stroke-dashoffset: 50; /* Oculta el trazo completamente al principio */
    fill: black; /* Sin relleno */
    stroke-width: 2;
    stroke: black; /* Color del trazo */
    width: 50px; /* Asegura el tamaño adecuado */
    height: 50px;
    opacity: 0;
}

.cuadroLinea{
    position: absolute;
    margin-top: 1240px;
    margin-right: 3px;
}

.cuadroLineaCodigo{
    position: absolute;
    margin-top: 1240px;
    margin-right: 3px;
}

.linea{
    border: 1px solid white;
    margin-bottom: 5px;
    margin-top: 11px;
    width: 42px;
    margin-left: 4px;
    border-radius: 50px;
}

.lineaHeader{
    border: 2px solid white;
    width: 10px;
    position: absolute;
    margin-top: 1303px;
    z-index: 2;
    opacity: 0;
}

.cuadroFront{
    position: absolute;
    width: 750px;
    margin-top: 1300px;
    height: 5px;
    background-color: #37505D;
    opacity: 0;
    z-index: 1;
}

.lineaFront{
    border: 2px solid white;
    width: 1px;
    position: absolute;
    margin-top: 1550px;
    z-index: 2;
    opacity: 0;
}

.cuadroBack{
    position: absolute;
    width: 750px;
    margin-top: 1800px;
    height: 5px;
    background-color: #37505D;
    opacity: 0;
    z-index: 1;
}

.lineaBack{
    border: 2px solid white;
    width: 10px;
    position: absolute;
    margin-top: 1804px;
    opacity: 0;
    z-index: 2;
}

.cuadroDB{
    height: 500px;
    position: absolute;
    margin-top: 5500px;
    border: 1px solid black;

}

.lineaDB{
    border: 2px solid white;
    width: 1px;
    position: absolute;
    margin-top: 2047px;
    z-index: 2;
    opacity: 0;
}

.title{
    position: absolute;
    margin-top: 1235px;
    z-index: 2;
    margin-left: 150px;
}

 .texto-titulo {
    stroke-dasharray: 1000; /* Define el tamaño del contorno */
    stroke-dashoffset: 1000; /* Oculta el trazo completamente al principio */
    fill: none; /* No queremos que el texto esté lleno, solo el borde */

}

.title-front{
   position: absolute;
   margin-top: 1360px;
   z-index: 2;
   margin-right: 360px;
   opacity: 0;
}

.title-back{
    position: absolute;
    margin-top: 1360px;
    z-index: 2;
    margin-left: 350px;
    opacity: 0;
 }

 .title-db{
    position: absolute;
    margin-top: 1870px;
    z-index: 2;
    margin-right: 360px;
    opacity: 0;
 }

 .title-tools{
    position: absolute;
    margin-top: 1870px;
    z-index: 2;
    margin-left: 350px;
    opacity: 0;
 }

 .icons {
    position: absolute;
    margin-top: 1550px;
    z-index: 10;  /* Asegura que los íconos estén encima de otros elementos */
    display: flex;  /* Alinea los íconos en fila */
    justify-content: center;  /* Centra los íconos horizontalmente */
    align-items: center;  /* Centra los íconos verticalmente */
    gap: 20px;  /* Espacio entre los íconos */
    width: 100%;  /* Asegura que el contenedor ocupe todo el ancho disponible */
}

.icons2 {
    position: absolute;
    margin-top: 2050px;
    z-index: 10;  /* Asegura que los íconos estén encima de otros elementos */
    display: flex;  /* Alinea los íconos en fila */
    justify-content: center;  /* Centra los íconos horizontalmente */
    align-items: center;  /* Centra los íconos verticalmente */
    gap: 20px;  /* Espacio entre los íconos */
    width: 100%;  /* Asegura que el contenedor ocupe todo el ancho disponible */
}

.icons-front {
    margin-right: 370px;
}

.icons-back {
    margin-left: 375px;
}

.icons-db {
    margin-right: 370px;
}

.icons-tools {
    margin-left: 375px;
}

.icons svg {
    width: 50px;  /* Ajusta el tamaño de los íconos */
    height: 50px;
    fill: currentColor;  /* El color tomará el color actual de los estilos de texto */
    opacity: 0;  /* Asegura que los íconos estén ocultos antes de la animación */
}

.icons img {
    width: 50px;  /* Ajusta el tamaño de los íconos */
    height: 50px;
    fill: currentColor;  /* El color tomará el color actual de los estilos de texto */
    opacity: 0;  /* Asegura que los íconos estén ocultos antes de la animación */
}

.icons2 svg {
    width: 50px;  /* Ajusta el tamaño de los íconos */
    height: 50px;
    fill: currentColor;  /* El color tomará el color actual de los estilos de texto */
    opacity: 0;  /* Asegura que los íconos estén ocultos antes de la animación */
}

.icons2 img {
    width: 50px;  /* Ajusta el tamaño de los íconos */
    height: 50px;
    fill: currentColor;  /* El color tomará el color actual de los estilos de texto */
    opacity: 0;  /* Asegura que los íconos estén ocultos antes de la animación */
}

